<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-10>">
    <ul>
      <li>
        <h1>Educación 01</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, officiis dolore? Perferendis doloribus consectetur nesciunt quas voluptatem nulla, cum aliquid rem molestiae magni optio iste. Fugit praesentium sunt quam neque?
        </p>
      </li>
      <li>
        <h1>Educación 02</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, officiis dolore? Perferendis doloribus consectetur nesciunt quas voluptatem nulla, cum aliquid rem molestiae magni optio iste. Fugit praesentium sunt quam neque?
        </p>
      </li>
      <li>
        <h1>Educación 03</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, officiis dolore? Perferendis doloribus consectetur nesciunt quas voluptatem nulla, cum aliquid rem molestiae magni optio iste. Fugit praesentium sunt quam neque?
        </p>
      </li>
    </ul>
  </div>

</div>
