<div class="row">
    <h1>Mis habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'HTML'"
      [imageSrc]="'/assets/skills_icons/html.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'CSS'"
      [imageSrc]="'/assets/skills_icons/CSS.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="70"
      [radius]="100"
      [backgroundColor]="'#62A4E8'"
      [backgroundOpacity]="0.4"
      [showBackground]="true"
      [backgroundStroke]="'#6ea8fe'"
      [backgroundStrokeWidth]="0"
      [backgroundPadding]="0"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'Javascript'"
      [imageSrc]="'/assets/skills_icons/js.png'"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'Git'"
      [imageSrc]="'/assets/skills_icons/git.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'Inglés'"
      [imageSrc]="'/assets/skills_icons/eng.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress
      [showUnits]="false"
      [title]="'Teamwork'"
      [imageSrc]="'/assets/skills_icons/grupal.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#174dff'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
</div>  <!-- percent, title deben venir de la db -->
