<div class="row">
    <h1>Mis habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="html"
      [showUnits]="false"
      [title]="'HTML'"
      [imageSrc]="'/assets/skills_icons/html.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="css"
      [showUnits]="false"
      [title]="'CSS'"
      [imageSrc]="'/assets/skills_icons/CSS.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="javascript"
      [showUnits]="false"
      [title]="'Javascript'"
      [imageSrc]="'/assets/skills_icons/js.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="git version control"
      [showUnits]="false"
      [title]="'Git'"
      [imageSrc]="'/assets/skills_icons/git.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="AngularJS"
      [showUnits]="false"
      [title]="'AngularJS'"
      [imageSrc]="'/assets/skills_icons/angularjs_2.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="MySQL"
      [showUnits]="false"
      [title]="'MySQL'"
      [imageSrc]="'/assets/skills_icons/mysql_2.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="75"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="Inglés"
      [showUnits]="false"
      [title]="'Inglés'"
      [imageSrc]="'/assets/skills_icons/eng.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
      <circle-progress title="trabajo en equipo"
      [showUnits]="false"
      [title]="'Teamwork'"
      [imageSrc]="'/assets/skills_icons/grupal.png'"
      [backgroundColor]="'#aec7ff'"
      [backgroundPadding]="-18"
      [backgroundStrokeWidth]="0"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="70"
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#E64C00'"
      [innerStrokeColor]="'#6ea8fe'"
      [animation]="true"
      [animationDuration]="900"
      ></circle-progress>
    </div>
</div>  <!-- percent, title deben venir de la db -->
