<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/profile.png" alt=""
    class="img-fluid"
    id="fotoDePerfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> Juan Ignacio Lloret</p>
    <p id="titulo"> Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1 id="aboutme">Acerca de mí</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nulla rem unde, blanditiis animi velit libero dolor, nisi deleniti porro
        laudantium corporis, ut vero magnam sequi esse laboriosam repudiandae placeat
        laborum!
      </p>
    </span>
  </div>
</div>
